body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modules,
.todo-list {
  list-style: none;
}

.todo-list li {
  display: flex;
  max-width: fit-content;
  padding: 5px;
  background-color: rgb(199, 195, 195);
  margin: 5px auto;
  border-radius: 10px;

}

.todo-list li:hover {
  background-color: rgb(218, 216, 216);
}

input {
  margin-right: 5px;
}